<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: navigation"></nav>
    <h1>Create Form</h1>

    <form method="post" action="/events/create">
        <div class="form-group">
            <label>Event Name
                <input type="text" name="eventName">
            </label>
            <label>Description
                <input type="text" name="eventDescription">
            </label>
        </div>
        <br />
        <div>
            <input type="submit" value="Create Event">
        </div>
    </form>

</body>
</html>