<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>All Events</title>
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1>All Events</h1>

<p th:unless="${events} and ${events.size()}">No Events!</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
    </tr>
    </thead>

    <tr  th:each="event : ${events}">
        <td th:text = "${event.key}"></td>
        <td th:text = "${event.value}"></td>
        <td th:replace="fragments :: address"></td>
    </tr>
</table>
</body>
</html>