<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<h1>All Events</h1>

<p th:unless="${events} and ${events.size()}">No Events!</p>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
    </tr>
    </thead>

    <tr  th:each="event : ${events}">
        <td th:text = "${event.name}"></td>
        <
    </tr>
</table>
</body>
</html>