<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<h1>All Events</h1>

<p th:unless="${events} and ${events.size()}">No Events!</p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Event Name</th>
        <th>Description</th>
        <th>Contact Email</th>
        <th>Type</th>
        <th>Edit</th>
    </tr>
    </thead>

    <tr  th:each="event : ${events}">
        <td th:text = "${event.id}"></td>
        <td th:text = "${event.name}"></td>
        <td th:text = "${event.description}"></td>
        <td th:text = "${event.contactEmail}"></td>
        <td th:text = "${event.type.displayName}"></td>
        <td>
            <a th:href="@{/events/edit/{id}(id=${event.getId()})}">Edit</a>
        </td>

    </tr>
</table>
</body>
</html>